@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .table {
    @apply w-full text-left text-sm text-gray-500 dark:text-gray-400;
  }
  .table .table-thead {
    @apply bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400;
  }
  .table .table-tr {
    @apply border-b dark:border-gray-700;
  }
  .table .btn-edit {
    @apply flex items-center justify-center rounded-lg bg-blue-700 px-2 py-1 my-auto md:px-4 md:py-2 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-green-300 mr-2;
  }
  .table .btn-delete {
    @apply flex items-center justify-center rounded-lg bg-red-700 px-2 py-1 my-auto md:px-4 md:py-2 text-sm font-medium text-white hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-green-300;
  }
  .modal-active {
    @apply bg-gray-900 bg-opacity-50 dark:bg-opacity-80 fixed inset-0 z-40;
  }
  .modal-contain {
    @apply overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0   h-[calc(100%-1rem)] max-h-full flex;
  }
  .modal-contain .contain {
    @apply relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5;
  }
  .modal-contain .contain .product-modal,
  .modal-contain .contain .user-modal {
    @apply flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600;
  }
  .modal-contain .contain .product-modal .btn,
  .modal-contain .contain .user-modal .btn {
    @apply text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white;
  }
  .product-form,
  .user-form {
    @apply mb-4 grid gap-4 sm:grid-cols-2;
  }
  .product-form .label,
  .user-form .label {
    @apply mb-2 block text-sm font-medium text-gray-900 dark:text-white;
  }
  .product-form .form-contain,
  .user-form .form-contain {
    @apply sm:col-span-2;
  }
  .sidebar {
    @apply fixed inset-0 z-20 transition-opacity bg-black opacity-50 lg:hidden;
  }
  .header {
    @apply flex items-center justify-between px-6 py-4 bg-gray-100 dark:bg-gray-900;
  }
  .header .header-link {
    @apply block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-600 hover:text-white;
  }
  .header .header-menu {
    @apply text-gray-500 focus:outline-none lg:hidden;
  }
  .header .header-btn {
    @apply relative z-10 block w-8 h-8 overflow-hidden rounded-full shadow focus:outline-none;
  }
  .chart {
    @apply text-gray-700 dark:text-white bg-gray-100 dark:bg-gray-800 rounded-lg p-4;
  }
  .chart .chart-description {
    @apply my-5 text-xl ml-3 text-gray-700 dark:text-white;
  }
  .chart .chart-contain {
    @apply mb-6 mx-auto sm:w-3/5 w-full overflow-hidden text-center h-96 items-center;
  }
  .chart .chart-p {
    @apply my-8 ml-3 text-gray-700 dark:text-white;
  }
  .chart .chart-heading {
    @apply mt-8 text-3xl font-medium ml-3 mb-5 text-gray-700 dark:text-white;
  }
  .switch {
    @apply relative inline-flex h-[38px] w-[74px] shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75;
  }
  .switch .btn {
    @apply h-[34px] w-[34px];
  }
  .layout-default {
    @apply bg-white text-black dark:text-white dark:bg-gray-900 p-6 h-screen;
  }
  .layout-custom {
    @apply flex-1 flex flex-col overflow-hidden bg-white dark:bg-gray-900;
  }
  .layout-custom .layout-custom-main {
    @apply flex-1 overflow-x-hidden overflow-y-auto bg-white text-black dark:text-white dark:bg-gray-900 container mx-auto px-6 py-8;
  }
  .form {
    @apply flex max-h-full flex-col justify-center px-6 py-20 box-border lg:px-8;
  }
  .form .form-container {
    @apply mt-20 sm:mx-auto sm:w-full sm:max-w-sm;
  }
  .form .form-container .form-label {
    @apply block text-sm font-medium leading-6 dark:text-white text-gray-900;
  }
  .form .form-container .form-btn {
    @apply flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
  }
  .main-title {
    @apply text-3xl font-medium ml-3 mb-5 text-gray-700 dark:text-white;
  }
  .contain-title {
    @apply mb-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white md:text-4xl;
  }
  .dashboard {
    @apply text-black dark:text-white dark:bg-gray-900;
  }
  .dashboard .dashboard-card {
    @apply w-full px-6 mt-6 sm:w-1/2 xl:w-1/3 sm:mt-0;
  }
  .dashboard .dashboard-card .dashboard-card-contain {
    @apply flex items-center px-5 py-6 bg-gray-100 dark:bg-gray-800 rounded-md shadow-sm;
  }
  .dashboard .dashboard-card .dashboard-card-contain .card-contain {
    @apply mx-5;
  }
  .dashboard .dashboard-card .dashboard-card-contain .card-contain .card-title {
    @apply text-2xl font-semibold text-gray-700 dark:text-gray-300;
  }
  .dashboard .dashboard-card .dashboard-card-contain .card-contain .card-description {
    @apply text-gray-500 dark:text-gray-100;
  }
  .order-history {
    @apply text-gray-700 dark:text-white bg-gray-100 dark:bg-gray-800 p-4 rounded-lg shadow-lg;
  }
  .product {
    @apply bg-gray-50 antialiased dark:bg-gray-900;
  }
  .product .product-contain {
    @apply relative overflow-hidden bg-white shadow-md dark:bg-gray-800 sm:rounded-lg;
  }
  .product .product-contain .product-nav {
    @apply flex flex-col items-start justify-between space-y-3 p-4 md:flex-row md:items-center md:space-y-0;
  }
  .product .product-contain .product-head {
    @apply flex flex-col items-center justify-between space-y-3 p-4 md:flex-row md:space-x-4 md:space-y-0;
  }
  .product .product-contain .product-head .product-btn-contain {
    @apply flex w-full flex-shrink-0 flex-col items-stretch justify-end space-y-2 md:w-auto md:flex-row md:items-center md:space-x-3 md:space-y-0;
  }
  .product .product-contain .product-head .product-btn-contain .product-btn {
    @apply flex items-center justify-center rounded-lg px-4 py-2 text-sm font-medium text-white focus:outline-none focus:ring-4 bg-blue-600 hover:bg-blue-700 focus:ring-blue-800;
  }
  .profile {
    @apply bg-gray-50 antialiased dark:bg-gray-900;
  }
  .profile .profile-contain {
    @apply overflow-hidden shadow rounded-lg border dark:border-gray-500;
  }
  .profile .profile-contain .profile-head {
    @apply px-4 py-5 sm:px-6 text-center;
  }
  .profile .profile-contain .profile-head .profile-title {
    @apply text-lg leading-6 font-medium text-gray-900 dark:text-white;
  }
  .profile .profile-contain .profile-head .profile-description {
    @apply mt-1 text-sm text-gray-500 dark:text-white;
  }
  .profile .profile-contain .profile-table {
    @apply border-t dark:border-gray-500 px-4 py-5 sm:p-0;
  }
  .profile .profile-contain .profile-table .profile-table-contain {
    @apply sm:divide-y sm:dark:divide-gray-500;
  }
  .profile .profile-contain .profile-table .profile-table-contain .profile-table-row {
    @apply py-3 sm:py-5 flex sm:flex-row flex-col sm:px-6;
  }
  .profile .profile-contain .profile-table .profile-table-contain .profile-table-row .profile-row-title {
    @apply text-sm font-bold text-gray-500 basis-1/4;
  }
  .profile .profile-contain .profile-table .profile-table-contain .profile-table-row .profile-table-contain {
    @apply mt-1 text-sm text-gray-900 dark:text-white sm:mt-0;
  }
  .change-password {
    @apply flex max-h-full flex-col justify-center px-6 py-20 box-border lg:px-8;
  }
  .change-password .change-contain {
    @apply sm:mx-auto sm:w-full sm:max-w-sm;
  }
  .change-password .change-contain .label {
    @apply block text-sm font-medium leading-6 dark:text-white text-gray-900;
  }
  .change-password .change-contain .btn {
    @apply my-5 flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
  }
  .change-password .change-contain .input {
    @apply block w-full rounded-md border-0 px-3 py-1.5 text-slate-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
  }
}

@layer utilities {
  /* width */
  ::-webkit-scrollbar,
  .dark ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    /* border-radius: 100vh; */
    background: #fff;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ccc;
    border: 2px solid #fff;
  }
  /* Track */
  .dark ::-webkit-scrollbar-track {
    background: #374151;
  }
  /* Handle */
  .dark ::-webkit-scrollbar-thumb {
    background: #6b7280;
    border: 2px solid #374151;
  }
}
